@charset "UTF-8";


.detail_wrap{
	width:100%;
	height:100%;
	display : flex;
	gap : 0 2rem;
}

.img-box{
	width:100%;
	height:50%;
	display:flex;
	background-color: red;
	flex-grow:1;
}

.img-box img{
	width: 100%;
	height: auto;
	display: flex;
	object-fit : cover;
}

.detail_wrap .content{
	width:100%;
	height : 50%;
	flex-grow:1;
	display : flex;
	flex-direction : column;
	align-items : center;
	text-align: center;
}

.content h2{
	font-size : 2rem;
}
