@charset "UTF-8";

section{
	width : 18rem;
	height : auto;
	text-align: center;
	display : flex;
	flex-direction: column;

	
}

#logo a {
	display : inline-block;
	width: 50%;
	height : auto;
	margin-bottom: 2rem;
}

#logo a img{
	width: 100%;
	height : 100%;
}

#frm{
	width:100%;
}


li{
	display : flex;
	justify-content: space-around;
	margin : 0.5rem 0;
}

label{
	width : 40%;
}

#login_footer{
	display : flex;
	flex-direction: column;
	gap : 0.3rem;
	margin-top : 0.8rem;
}

a{
	font-size: 15px;
}

input[type=password]{
	font-family: 'NanumSquare';
}