@charset "UTF-8";

#message{
	position : absolute;
	top : 20%;
	left : 50%;
	background-color : white;
	padding : 1rem;
	
}

#message-wrap{
	position : absolute;
	width : 100%;
	height : 100%;
	background-color: rgb(40,40,40,0.5);
	top:0;
	left:0;
	display:flex;
	justify-content: center;
	align-items: center
}

#message-box{
	position : absolute;
	top: -10%;
	left:50%;
	transform : translate( -50%, -50%);
	z-index: 2;
	transition : top 1s;
	
	background-color : white;
	box-shadow : 2px 2px 5px 0.2px #DFDFDF;
	border-radius: 5px;
	opacity : 80%;
	
	display : flex;
	flex-direction: column;
	padding : 0.3rem;
	justify-content: space-between;
	
	
}

#message-box p{
	height : 60%;
	display : flex;
	flex-direction: column;
	justify-content: center;
}

#message-box div{
	width: 100%;
	height : 40%;
	display: flex;
	justify-content: space-around;
}

#message-box button{
	font-size : 1rem;
	padding : 0.3rem 0.8rem;
	background-color: black;
	color:white;
	border-radius: 5px;
	cursor: pointer;
}

#message-box button:hover{
	background-color : white;
	color : black;
}