@charset "UTF-8";

#edit-wrap{
	width : 100%;
	height : auto;
	display : grid;
	gap : 0.5rem;

}

article{
	width:100%;
	margin-bottom : 0.5rem;
}


/* member article */

.member-info{
	display : flex;
	margin : 0.5rem 0;
	width: 100%;
	
}

.member-info li .item{
	color : gray;
}

.edit-btn a{
	width : 100%;
	height:100%;
	padding : 0.5rem;
	border : 1px solid black;
}


/* order article */
.order-list{
	width : 100%;
	height : auto;
	display : grid;
	grid-template-rows: 1fr;
	gap : 0.5rem;
}

.order-list .order-item{
	display : flex;
	width : 100%;
	align-items : center;
}

.img-box{
	display : flex;
	width : 15%;
}

.img-box img{
	width : 100%;
	height : 100%;
}

.QnA-table{
	width : 100%;
	height : auto;
	border : 1px solid black;
	border-collapse: collapse;
	text-align : center;
	margin : 0.5rem 0;
}

.QnA-table tr, td{
	border : 1px solid black;
	padding : 0.3rem;
}

.QnA-table tr:first-child td{
	background-color : gray;
	font-size : 1.1rem;
}

.QnA-table tr:first-child ~ tr:hover{
	transform : scale(101%);
	cursor : pointer;
}




